.header {
  background: black;
  padding: 10px;
  text-align: center;
  margin-bottom: 25px;
}
.heading {
  color: white;
  font-size: 2em;
  margin: 10px 0px;
}
.link {
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(143, 143, 143);
  margin: 5px 10px;
}
.background {
  background-color: rgb(230, 230, 238);
  text-align: center;
  height: 98vh;
}
.textbox {
  width: 50vw;
  height: 30px;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  padding: 0px 5px;
  margin-bottom: 10px;
}
.textarea {
  width: 50vw;
  height: 40vh;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  padding: 0px 5px;
  overflow: auto;
  margin-bottom: 10px;
}
.subbtn{
    font-size: .9em;
    font-weight: 700;
    padding: 7px;
    border-radius: 10px;
    color:white;
    background-color: #000;
}
.blog-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.blogList {
    background-color: #787a80;
    color: white;
    padding: 8px 5px;
    overflow: auto;
    display: block;
    text-decoration: none;
    margin-bottom: 3px;
    width: 50vw;
    border-radius: 10px;
  }
  .blogtitle{
    color:rgb(17, 17, 90);
    width: 60vw;
    font-size: 1.3em;
    padding-bottom:5px ;
    text-align: left;
  }
  .author{
    color:grey;
    width: 60vw;
    font-weight: 100;
    padding-bottom:10px ;
    text-align: left;
  }
  .blog-desc{
    border-radius: 10px;
    padding: 10px;
    background-color: #cacdd1;
    width: 60vw;
    height: 60vh;
    overflow: auto; 
    word-wrap: break-word;
    text-align: left;
  }
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
